header {
    background:linear-gradient( #00000060,#00000060 ), url(../img/Saint_John_City_Market_\(21714657379\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-color: #00000050;
}

.xycenter {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading-subtext {
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.heading-bigtext::before {
    content: "Nearby Us";
    color: white;
    font-size: 40px;
    font-weight: 600;
}
