header {
    background:linear-gradient( #00000060,#00000060 ), url(../img/abstract1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-color: #00000050;
}

.xycenter {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading-subtext {
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.heading-bigtext::before {
    content: "Policy";
    color: white;
    font-size: 40px;
    font-weight: 600;
}

